Direct-Login {
	com.quakearts.auth.server.totp.login.TOTPDirectLoginModule
	required
	totp.server.url="http://localhost:8081/totp"
	allow.fallback="true";
	
	com.quakearts.auth.server.totp.login.testmain.TestLoginModule
	required;
};
OTP-Login {
	com.quakearts.auth.server.totp.login.TOTPLoginModule
	required
	totp.server.url="http://localhost:8081/totp";
	
	com.quakearts.auth.server.totp.login.testmain.TestLoginModule
	required;
};