TOTP-JWT-Login {
	com.quakearts.webapp.security.auth.JWTLoginModule
	required
	issuer="https://demo.quakearts.com"
	audience="https://demo.quakearts.com"
	algorithm="HS256"
	secret="Qry8QEtRDn5pPBhw"
	additional.claims="defaultrole:Administrator"
	validity.period="15 Minutes"
	grace.period="5";
};